*.ARW
*.arw

# Неиспользуемые медиа
фото для сайта/2026-08-23_19-04-34_3_2.png
фото для сайта/2026-08-23_19-05-31_3_2.png
фото для сайта/oyster 2_3_2.png

# Неиспользуемые медиа — хранятся только локально
фото для сайта/ChatGPT Image 8 сент. 2026 г., 12_39_55.png
фото для сайта/DSC03196 s.JPG
фото для сайта/DSC03199 s.JPG
фото для сайта/DSC03213 s.JPG
фото для сайта/DSC03219 s.JPG
фото для сайта/DSC03238 main.JPG
фото для сайта/DSC03239 s.JPG
фото для сайта/DSC03240 main3 ужато.jpg
фото для сайта/DSC03240 s main3.JPG
фото для сайта/DSC03242 s.JPG
фото для сайта/DSC03244 s.JPG
фото для сайта/DSC03246 s.JPG
фото для сайта/DSC03247 s.JPG
фото для сайта/DSC03249 s.JPG
фото для сайта/DSC03251 s.JPG
фото для сайта/DSC03253 main2 ужато.jpg
фото для сайта/DSC03253 main2.JPG
фото для сайта/Pacific oysters.png
фото для сайта/dried sea cucumber.png
фото для сайта/little scallop 2.png
фото для сайта/little scallop.png
фото для сайта/marifarma bottle.png
фото для сайта/marine farm underwater.png
фото для сайта/marinefarm top view.png
фото для сайта/гребешок и трепанг.jpg
фото для сайта/короб с гребешком на весах.jpg
